@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');

/*=============================================
@Author: Alan Maher
@URL: https://scorptech.github.io/milestonetwo/
Author E-mail: info@crossakiel.com
===============================================*/

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    }

.container-fluid {
    margin: 0;
    padding: 0;
    }


.col {
    padding-right: 0px;
    padding-left: 0px;
    }

.row {
    padding: 0;
    margin: 0;
    }

/* Header Image*/
.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -100px;
}

.header {
    margin-top: 150px;
}

.header h1 {
    font-size: 60px;
    color: #fff;
}

.sub-header {
    font-size: 30px;
    color: #fff;
}

/* Navigation Section*/
.navbar {
    background-color: #1d7fc1;
    color: #fff;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    
}

a:link {
    color: #fff;
    }
  
    a:hover {
      color: #fff;
      font-weight: 500;
    }

a:visited {
      color: #fff;
      font-weight: 500;
    }


/* Header Text Section*/
.sentry_text h2, p {
     margin: 10px 20px 10px 20px;
}

/* Chart Section*/
.impact_charts {
    margin: 0px 0px 50px 0px;
}


/* Email Form*/
.send_form {
    padding: 30px 0px 30px 0px;
    background-color: #f8f9fa;
}

.btn {
    margin-top: 10px;
    background-color: #36a2eb;
    }

.btn:hover {
    margin-top: 10px;
    background-color: #1d7fc1;
    }


/* Footer*/
.impact_footer {
    background-color: #1d7fc1;
    text-align: center;
    color: #fff;
}

.align_text {
    padding: 15px 0 0 0;   
}


.social-links {
    padding: 0 0 5px 0;
    }

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #1d7fc1;
  background: #d7ecfb;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  }

.social-links li a i:hover {
   background: #36a2eb;
   color: #fff;
   } 






/* Media Queries*/
@media all and (max-width: 599px) and (min-width: 320px) {

.header h1 {
    font-size: 30px;
    color: #fff;
}

.sub-header {
    font-size: 20px;
    color: #fff;
    margin: 0px 10px 0px 10px;
}

.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

}


@media all and (max-width: 959px) and (min-width: 600px) {

.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    }
}

.impact_charts .col-lg-6 {
    margin-top: 50px;
}