@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');

/*====================================
@Author: Alan Maher
@URL: https://scorptech.github.io/milestoneone/
Author E-mail: info@crossakiel.com
======================================*/

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    }

.container-fluid {
    margin: 0;
    padding: 0;
    }


.col {
    padding-right: 0px;
    padding-left: 0px;
    }

.row {
    padding: 0;
    margin: 0;
    }

/* Header Image*/
.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: -100px;
}

.header {
    margin-top: 150px;
}

.header h1 {
    font-size: 60px;
    color: #fff;
}

.sub-header {
    font-size: 30px;
    color: #fff;
}


/* Header Text Section*/
.sentry_text h2, p {
     margin: 10px 20px 10px 20px;
}

/* Chart Section*/
.impact_charts {
    margin: 0px 0px 50px 0px;
}



@media all and (max-width: 599px) and (min-width: 320px) {

.header h1 {
    font-size: 30px;
    color: #fff;
}

.sub-header {
    font-size: 20px;
    color: #fff;
    margin: 0px 10px 0px 10px;
}

.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

}



@media all and (max-width: 959px) and (min-width: 600px) {

.image-asteroid {
    background-image: url("../images/banner4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    }
}

.impact_charts .col-lg-6 {
    margin-top: 50px;
}